article{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card1 span{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight:bold ;
}
.card1{
    padding: 20px;
    margin-top: 20px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 200px;
    border-radius: 20px;
    background-color: #FAFCFD;

}
.card-img{
    width: 40px;
}
